In [1]:
!pip install Django

Requirement already satisfied: Django in /Users/Apple 1/Desktop/garbage/venv/lib/python3.9/site-packages (4.1.3)
Requirement already satisfied: sqlparse>=0.2.2 in /Users/Apple 1/Desktop/garbage/venv/lib/python3.9/site-packages (from Django) (0.4.3)
Requirement already satisfied: asgiref<4,>=3.5.2 in /Users/Apple 1/Desktop/garbage/venv/lib/python3.9/site-packages (from Django) (3.5.2)

[notice] A new release of pip is available: 23.0.1 -> 23.1.1
[notice] To update, run: pip install --upgrade pip

In [2]:
!pip install numpy
!pip install pandas

Requirement already satisfied: numpy in /Users/Apple 1/Desktop/garbage/venv/lib/python3.9/site-packages (1.24.2)

[notice] A new release of pip is available: 23.0.1 -> 23.1.1
[notice] To update, run: pip install --upgrade pip
Requirement already satisfied: pandas in /Users/Apple 1/Desktop/garbage/venv/lib/python3.9/site-packages (2.0.0)
Requirement already satisfied: tzdata>=2022.1 in /Users/Apple 1/Desktop/garbage/venv/lib/python3.9/site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.20.3 in /Users/Apple 1/Desktop/garbage/venv/lib/python3.9/site-packages (from pandas) (1.24.2)
Requirement already satisfied: pytz>=2020.1 in /Users/Apple 1/Desktop/garbage/venv/lib/python3.9/site-packages (from pandas) (2023.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/Apple 1/Desktop/garbage/venv/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /Users/Apple 1/Desktop/garbage/venv/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 23.0.1 -> 23.1.1
[notice] To update, run: pip install --upgrade pip

In [3]:
import os
os.environ.setdefault("DJANGO_SETTINGS_MODULE", "e_library.settings")
import django
django.setup()

In [35]:
from books.models import Review, Pdf_Info
from auth_users.models import Profile
from sklearn.metrics.pairwise import cosine_similarity
import pandas as pd
import numpy as np

In [72]:
from asgiref.sync import sync_to_async

@sync_to_async
def get_books():
    return list(Pdf_Info.objects.all().values())

books = await get_books()
df_books = pd.DataFrame(books)
df_books.head(35)

,id,genre_id,title,author,isbn,publisher,image,description,slug,published_year,book_pdf,is_premium
0,1,1,C Programming,Grege Perry and Dean Miller,qomxczekkyaob,KCT pvt Ltd,book_image/images_LJFKQYI.jpeg,The C Programming Language (2nd Edition) writt...,8fwoBZ,2006,book/Cover_Letter_gb23EZr.pdf,False
1,2,2,Database Management Systems(A Practical Approach),Dr.Rajiv Chopra,ZDmqrBT1UVqSk,KCT pvt Ltd,book_image/1_7koGPsS.jpeg,Database Management Systems (DBMS) is a must f...,hxT9Sd,,book/d1.pdf,False
2,3,2,Database Management System(IV Semester Compute...,"Safa Hamdare, Bhavesh Panday",pOorZOTWq54QU,KCT pvt Ltd,book_image/2_rj8obaJ.jpg,Database Management Systems (DBMS) is a must f...,CHxh06,2006,book/d2.pdf,False
3,4,2,Database Management System (Schaum's Outline),"Ramon A Mata-Toledo, Pauline K Cushman",1fT2cxJ0j3vtJ,KCT pvt Ltd,book_image/3_10lAV2j.jpg,Database Management Systems (DBMS) is a must f...,IP7MKC,,book/d3.pdf,False
4,5,2,Database Management System(Ashirwad's),"Arihant Khicha, Neti Kapoor",mSxc9tDrBfZwS,#######,book_image/5_ZPR2BYE.jpg,Database Management Systems (DBMS) is a must f...,Ak2lr0,,book/d5.pdf,False
5,6,2,Database Management System(For Madras University),"Dr. R. Manjula Devi, V. Sicaranjani, M. Sangeetha",cKYkBKeNHFXOO,######,book_image/6_9SSgV6d.jpg,Database Management Systems (DBMS) is a must f...,Bn4tjN,,book/d6.pdf,False
6,7,2,Database Management System(DBMS),P. S. Gill,h7u5yOTJbYSEi,######,book_image/7_s0HXUss.jpg,Database Management Systems (DBMS) is a must f...,3iTH6U,,book/d7.pdf,False
7,8,2,Database Management System,Iraka Chaudhary,xN3hOjjABb3Y3,#######,book_image/8_kDoNTMd.jpg,Database Management Systems (DBMS) is a must f...,0OiEyP,,book/d8.pdf,False
8,9,2,Introduction to Database Management System,Atul Kahate,cC0xxwjT4qqCB,#######,book_image/10_nxS8m4v.jpg,Database Management Systems (DBMS) is a must f...,NW7UE2,,book/d10.pdf,False
9,10,1,C Programming An Intorduction,R. Chopra,rljZ8Fo4hg3ub,#########,book_image/p1_GDpKPxl.jpeg,The C Programming Language (2nd Edition) writt...,7COzwk,,book/a1.pdf,False
10,11,1,The C Programming Language,Brian Kernighan and Dennis Ritchie,5v1XaatHeJ83j,#######,book_image/p2_IS57C2y.jpeg,Database Management Systems (DBMS) is a must f...,k21bWp,,book/a2.pdf,False
11,12,1,Java Programming Language,Steve Tutor,O3UOfZ6Jp5bNV,#######,book_image/p3_n3D3Dsz.jpeg,The C Programming Language (2nd Edition) writt...,x9bGdl,,book/a6.pdf,False
12,13,1,Java Programming Beginner Guide,Mr. Kotiyana Publishing,FEWzVFDO9qcm1,#######,book_image/p4_GDSn2Nh.jpeg,The C Programming Language (2nd Edition) writt...,TPE1Bq,,book/a8.pdf,False
13,14,1,Robort Programming (ROS),Jhon Methu/ Willam Disuja,CGnl9IdLRllv0,#######,book_image/p5_978okoO.jpeg,The C Programming Language (2nd Edition) writt...,gFgphs,,book/a6_MWBWcfF.pdf,False
14,15,1,C Programming With Arduino,Mahesh A. Shah,P4pOBvEIoAZ9P,#######,book_image/p6_kstfpdC.jpeg,The C Programming Language (2nd Edition) writt...,C9j2c1,,book/a12.pdf,False
15,16,3,Computer Networking Beginner Guide,Tim Wired,m2K0GRPE8KxSj,#########,book_image/15.jpeg,"In the field of communication, Computer Networ...",DaAsK2g,2000,book/a6_tvdS7xd.pdf,False
16,17,3,Computer Networking,Pearson,FtRyEGg0OfE7P,#######,book_image/n1_jjzDGZT.jpeg,"In the field of communication, Computer Networ...",2bK6VVt,,book/a14.pdf,False
17,18,3,An Essential Guide to Computer Network,skarad C. Joshi,OWR8yUVg8DkPB,#######,book_image/n2_rtNvXc5.jpeg,"In the field of communication, Computer Networ...",qfE47kV,,book/a13.pdf,False
18,19,3,A Text Book of Computer Networks,Sanjay Sharma,mO7MihgZd3Z5z,######,book_image/n3_8JBwkwm.jpeg,"In the field of communication, Computer Networ...",Woni0IK,,book/a19.pdf,False
19,20,3,Computer Networking (Top Down Approach),"Kurose, Ross",t00WGEEQ4NA6e,######,book_image/n8_ZfVqqwk.jpeg,"In the field of communication, Computer Networ...",pmR8wih,,book/a16.pdf,False
20,21,3,Data Communication and Computer Networks,Jhon Methu/ Willam Disuja,h10hUwneWvb0P,######,book_image/n10_v1zd6gi.jpeg,"In the field of communication, Computer Networ...",iqB1n1Q,,book/c4.pdf,False
21,22,3,"Computer Network (Principles, Technologies and...","Najalia Olfer, Victor Olifer",wXAm46h6PsRdC,#########,book_image/n11_ZXQNZ40.jpeg,"In the field of communication, Computer Networ...",XzqS2jJ,,book/c2.pdf,False
22,23,3,Computer Networking Beginners Guide,Kevin Morgan,9IBmi8TqCfanQ,######,book_image/n13_kHFrqyc.jpeg,"In the field of communication, Computer Networ...",9SAdCKp,,book/a15.pdf,False
23,24,3,Black Hat Python( Python Programming for Hacke...,Joseph Migga Kiza,USCsQvGbia5I5,#########,book_image/n15_Pe6tHkf.jpeg,"In the field of communication, Computer Networ...",VcUufSf,,book/a19_irzy8OY.pdf,False
24,25,3,Computer Networks,"Andrew S. Tanenbaum, Nick Feamster",2yqWUmf46gVuy,######,book_image/n16.jpeg,"In the field of communication, Computer Networ...",J52Y0KO,,book/c13.pdf,False
25,26,3,Computer Networks and Internets,Douglas E. Comer,U0VcFEg87f8E7,######,book_image/n18.jpeg,"In the field of communication, Computer Networ...",yvWL4OZ,,book/c3.pdf,False
26,27,3,Fundamentals of Computer Networks,"Matthew N. O. Sadika, Cajetan M. Akujuobi",E38oT4jU8elfV,#########,book_image/n20.jpeg,"In the field of communication, Computer Networ...",HWVDn15,,book/c2_ktWDa8Z.pdf,False
27,28,3,Advance Java Programming,"Hemant Oza, Ghanshyan Shah",Nz9248b4qMrvU,######,book_image/p16.png,This is the 3rd edition of a research monograp...,cxFWTYb,,book/c4_wSgjSCJ.pdf,False
28,29,3,The Complete Reference,PHP,n39eWvo5q4dsc,#########,book_image/p20.jpeg,This is the 3rd edition of a research monograp...,ZvWaiIY,,book/a19_s8GJQYU.pdf,False
29,30,1,Java Programming,Grege Perry and Dean Miller,cGIxu7T93Dg7H,#######,book_image/p18.jpeg,This is the 3rd edition of a research monograp...,8thEfXK,,book/c2_IviQduB.pdf,False
30,31,1,C Programming Language,Darrel S. Granam,2oQD2XF4Wya6u,#######,book_image/p17.jpeg,This is the 3rd edition of a research monograp...,DNACOsv,,book/a12_JMnwv2o.pdf,False
31,32,1,JavaScript Programming Language,John Devid N. Dlonaldo,ghS70fC9HW4D6,#########,book_image/p13.jpeg,This is the 3rd edition of a research monograp...,HsneEe4,,book/a15_OZXc4nf.pdf,False

In [9]:
@sync_to_async
def get_reviews():
    return list(Review.objects.all().values())

reviews = await get_reviews()
df_reviews = pd.DataFrame(reviews)
df_reviews.head()

,id,book_id,rating,created_by_id,content,created_at,isbn
0,1,1,1,1,Poor Explanation,2023-04-21 07:52:42.216176+00:00,qomxczekkyaob
1,2,2,3,1,nice!!!!,2023-04-21 09:58:56.222078+00:00,ZDmqrBT1UVqSk
2,3,9,5,1,Excellent,2023-04-21 09:59:35.827144+00:00,cC0xxwjT4qqCB
3,4,10,4,1,Good book,2023-04-21 09:59:57.790780+00:00,rljZ8Fo4hg3ub
4,5,11,4,1,Excellent!!!!!!!,2023-04-21 10:00:15.205738+00:00,5v1XaatHeJ83j

In [36]:
df_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105 entries, 0 to 104
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             105 non-null    int64
 1   book_id        105 non-null    int64
 2   rating         105 non-null    int64
 3   created_by_id  105 non-null    int64
 4   content        105 non-null    object
 5   created_at     105 non-null    datetime64[ns, UTC]
 6   isbn           105 non-null    object
dtypes: datetime64[ns, UTC](1), int64(4), object(2)
memory usage: 5.9+ KB

In [70]:
df = pd.merge(df_reviews, df_books, on = 'isbn', how = 'inner')
df.head(35)

,id_x,book_id,rating,created_by_id,content,created_at,isbn,id_y,genre_id,title,author,publisher,image,description,slug,published_year,book_pdf,is_premium
0,1,1,1,1,Poor Explanation,2023-04-21 07:52:42.216176+00:00,qomxczekkyaob,1,1,C Programming,Grege Perry and Dean Miller,KCT pvt Ltd,book_image/images_LJFKQYI.jpeg,The C Programming Language (2nd Edition) writt...,8fwoBZ,2006,book/Cover_Letter_gb23EZr.pdf,False
1,10,1,5,2,Excellent books!!!,2023-04-21 10:03:19.276618+00:00,qomxczekkyaob,1,1,C Programming,Grege Perry and Dean Miller,KCT pvt Ltd,book_image/images_LJFKQYI.jpeg,The C Programming Language (2nd Edition) writt...,8fwoBZ,2006,book/Cover_Letter_gb23EZr.pdf,False
2,21,1,3,3,not bad,2023-04-21 10:09:13.812996+00:00,qomxczekkyaob,1,1,C Programming,Grege Perry and Dean Miller,KCT pvt Ltd,book_image/images_LJFKQYI.jpeg,The C Programming Language (2nd Edition) writt...,8fwoBZ,2006,book/Cover_Letter_gb23EZr.pdf,False
3,33,1,4,4,beginner guide,2023-04-21 10:13:28.875287+00:00,qomxczekkyaob,1,1,C Programming,Grege Perry and Dean Miller,KCT pvt Ltd,book_image/images_LJFKQYI.jpeg,The C Programming Language (2nd Edition) writt...,8fwoBZ,2006,book/Cover_Letter_gb23EZr.pdf,False
4,45,1,1,5,poorest book ever read,2023-04-21 10:18:58.763847+00:00,qomxczekkyaob,1,1,C Programming,Grege Perry and Dean Miller,KCT pvt Ltd,book_image/images_LJFKQYI.jpeg,The C Programming Language (2nd Edition) writt...,8fwoBZ,2006,book/Cover_Letter_gb23EZr.pdf,False
5,2,2,3,1,nice!!!!,2023-04-21 09:58:56.222078+00:00,ZDmqrBT1UVqSk,2,2,Database Management Systems(DBMS),Dr.Rajiv Chopra,KCT pvt Ltd,book_image/1_7koGPsS.jpeg,Database Management Systems (DBMS) is a must f...,hxT9Sd,,book/d1.pdf,False
6,11,2,5,2,excellent,2023-04-21 10:03:45.907398+00:00,ZDmqrBT1UVqSk,2,2,Database Management Systems(DBMS),Dr.Rajiv Chopra,KCT pvt Ltd,book_image/1_7koGPsS.jpeg,Database Management Systems (DBMS) is a must f...,hxT9Sd,,book/d1.pdf,False
7,22,2,3,3,good,2023-04-21 10:09:31.748230+00:00,ZDmqrBT1UVqSk,2,2,Database Management Systems(DBMS),Dr.Rajiv Chopra,KCT pvt Ltd,book_image/1_7koGPsS.jpeg,Database Management Systems (DBMS) is a must f...,hxT9Sd,,book/d1.pdf,False
8,34,2,3,4,good one,2023-04-21 10:13:41.895490+00:00,ZDmqrBT1UVqSk,2,2,Database Management Systems(DBMS),Dr.Rajiv Chopra,KCT pvt Ltd,book_image/1_7koGPsS.jpeg,Database Management Systems (DBMS) is a must f...,hxT9Sd,,book/d1.pdf,False
9,46,2,4,5,best book ever,2023-04-21 10:19:15.681552+00:00,ZDmqrBT1UVqSk,2,2,Database Management Systems(DBMS),Dr.Rajiv Chopra,KCT pvt Ltd,book_image/1_7koGPsS.jpeg,Database Management Systems (DBMS) is a must f...,hxT9Sd,,book/d1.pdf,False
10,59,2,4,6,excellent,2023-04-22 17:21:48.521404+00:00,ZDmqrBT1UVqSk,2,2,Database Management Systems(DBMS),Dr.Rajiv Chopra,KCT pvt Ltd,book_image/1_7koGPsS.jpeg,Database Management Systems (DBMS) is a must f...,hxT9Sd,,book/d1.pdf,False
11,96,2,3,8,not bad\r\n,2023-04-22 17:40:22.712971+00:00,ZDmqrBT1UVqSk,2,2,Database Management Systems(DBMS),Dr.Rajiv Chopra,KCT pvt Ltd,book_image/1_7koGPsS.jpeg,Database Management Systems (DBMS) is a must f...,hxT9Sd,,book/d1.pdf,False
12,3,9,5,1,Excellent,2023-04-21 09:59:35.827144+00:00,cC0xxwjT4qqCB,9,2,Introduction to Database Management System,Atul Kahate,#######,book_image/10_nxS8m4v.jpg,Database Management Systems (DBMS) is a must f...,NW7UE2,,book/d10.pdf,False
13,14,9,3,2,nice one,2023-04-21 10:04:50.549564+00:00,cC0xxwjT4qqCB,9,2,Introduction to Database Management System,Atul Kahate,#######,book_image/10_nxS8m4v.jpg,Database Management Systems (DBMS) is a must f...,NW7UE2,,book/d10.pdf,False
14,26,9,4,3,pure beginner book,2023-04-21 10:11:01.847424+00:00,cC0xxwjT4qqCB,9,2,Introduction to Database Management System,Atul Kahate,#######,book_image/10_nxS8m4v.jpg,Database Management Systems (DBMS) is a must f...,NW7UE2,,book/d10.pdf,False
15,38,9,4,4,best ever,2023-04-21 10:15:23.273146+00:00,cC0xxwjT4qqCB,9,2,Introduction to Database Management System,Atul Kahate,#######,book_image/10_nxS8m4v.jpg,Database Management Systems (DBMS) is a must f...,NW7UE2,,book/d10.pdf,False
16,50,9,5,5,excellent book,2023-04-21 10:20:41.495030+00:00,cC0xxwjT4qqCB,9,2,Introduction to Database Management System,Atul Kahate,#######,book_image/10_nxS8m4v.jpg,Database Management Systems (DBMS) is a must f...,NW7UE2,,book/d10.pdf,False
17,97,9,5,8,excellent,2023-04-22 17:42:31.955735+00:00,cC0xxwjT4qqCB,9,2,Introduction to Database Management System,Atul Kahate,#######,book_image/10_nxS8m4v.jpg,Database Management Systems (DBMS) is a must f...,NW7UE2,,book/d10.pdf,False
18,4,10,4,1,Good book,2023-04-21 09:59:57.790780+00:00,rljZ8Fo4hg3ub,10,1,C Programming An Intorduction,R. Chopra,#########,book_image/p1_GDpKPxl.jpeg,The C Programming Language (2nd Edition) writt...,7COzwk,,book/a1.pdf,False
19,15,10,5,2,excellent\r\n,2023-04-21 10:05:12.028742+00:00,rljZ8Fo4hg3ub,10,1,C Programming An Intorduction,R. Chopra,#########,book_image/p1_GDpKPxl.jpeg,The C Programming Language (2nd Edition) writt...,7COzwk,,book/a1.pdf,False
20,27,10,2,3,poor explanation,2023-04-21 10:11:19.543335+00:00,rljZ8Fo4hg3ub,10,1,C Programming An Intorduction,R. Chopra,#########,book_image/p1_GDpKPxl.jpeg,The C Programming Language (2nd Edition) writt...,7COzwk,,book/a1.pdf,False
21,39,10,3,4,think good,2023-04-21 10:16:22.643227+00:00,rljZ8Fo4hg3ub,10,1,C Programming An Intorduction,R. Chopra,#########,book_image/p1_GDpKPxl.jpeg,The C Programming Language (2nd Edition) writt...,7COzwk,,book/a1.pdf,False
22,51,10,5,5,best ever,2023-04-21 10:20:54.914230+00:00,rljZ8Fo4hg3ub,10,1,C Programming An Intorduction,R. Chopra,#########,book_image/p1_GDpKPxl.jpeg,The C Programming Language (2nd Edition) writt...,7COzwk,,book/a1.pdf,False
23,105,10,1,8,joiag,2023-04-22 17:45:03.653847+00:00,rljZ8Fo4hg3ub,10,1,C Programming An Intorduction,R. Chopra,#########,book_image/p1_GDpKPxl.jpeg,The C Programming Language (2nd Edition) writt...,7COzwk,,book/a1.pdf,False
24,5,11,4,1,Excellent!!!!!!!,2023-04-21 10:00:15.205738+00:00,5v1XaatHeJ83j,11,1,The C Programming Language,Brian Kernighan and Dennis Ritchie,#######,book_image/p2_IS57C2y.jpeg,Database Management Systems (DBMS) is a must f...,k21bWp,,book/a2.pdf,False
25,16,11,3,2,i think this book is good,2023-04-21 10:05:36.295807+00:00,5v1XaatHeJ83j,11,1,The C Programming Language,Brian Kernighan and Dennis Ritchie,#######,book_image/p2_IS57C2y.jpeg,Database Management Systems (DBMS) is a must f...,k21bWp,,book/a2.pdf,False
26,28,11,2,3,poor,2023-04-21 10:11:45.467678+00:00,5v1XaatHeJ83j,11,1,The C Programming Language,Brian Kernighan and Dennis Ritchie,#######,book_image/p2_IS57C2y.jpeg,Database Management Systems (DBMS) is a must f...,k21bWp,,book/a2.pdf,False
27,40,11,4,4,good,2023-04-21 10:16:39.385647+00:00,5v1XaatHeJ83j,11,1,The C Programming Language,Brian Kernighan and Dennis Ritchie,#######,book_image/p2_IS57C2y.jpeg,Database Management Systems (DBMS) is a must f...,k21bWp,,book/a2.pdf,False
28,52,11,5,5,excellent,2023-04-21 10:21:09.630778+00:00,5v1XaatHeJ83j,11,1,The C Programming Language,Brian Kernighan and Dennis Ritchie,#######,book_image/p2_IS57C2y.jpeg,Database Management Systems (DBMS) is a must f...,k21bWp,,book/a2.pdf,False
29,95,11,3,9,piou,2023-04-22 17:38:29.294634+00:00,5v1XaatHeJ83j,11,1,The C Programming Language,Brian Kernighan and Dennis Ritchie,#######,book_image/p2_IS57C2y.jpeg,Database Management Systems (DBMS) is a must f...,k21bWp,,book/a2.pdf,False
30,6,12,2,1,Not Bad,2023-04-21 10:00:32.771575+00:00,O3UOfZ6Jp5bNV,12,1,Java Programming Language,Steve Tutor,#######,book_image/p3_n3D3Dsz.jpeg,The C Programming Language (2nd Edition) writt...,x9bGdl,,book/a6.pdf,False
31,17,12,3,2,not bad,2023-04-21 10:05:51.554000+00:00,O3UOfZ6Jp5bNV,12,1,Java Programming Language,Steve Tutor,#######,book_image/p3_n3D3Dsz.jpeg,The C Programming Language (2nd Edition) writt...,x9bGdl,,book/a6.pdf,False
32,29,12,5,3,best book ever,2023-04-21 10:12:02.423181+00:00,O3UOfZ6Jp5bNV,12,1,Java Programming Language,Steve Tutor,#######,book_image/p3_n3D3Dsz.jpeg,The C Programming Language (2nd Edition) writt...,x9bGdl,,book/a6.pdf,False
33,41,12,3,4,not bad,2023-04-21 10:17:03.805115+00:00,O3UOfZ6Jp5bNV,12,1,Java Programming Language,Steve Tutor,#######,book_image/p3_n3D3Dsz.jpeg,The C Programming Language (2nd Edition) writt...,x9bGdl,,book/a6.pdf,False
34,53,12,5,5,best one ever,2023-04-21 10:21:26.863439+00:00,O3UOfZ6Jp5bNV,12,1,Java Programming Language,Steve Tutor,#######,book_image/p3_n3D3Dsz.jpeg,The C Programming Language (2nd Edition) writt...,x9bGdl,,book/a6.pdf,False

In [40]:
agg_ratings = df.groupby('title').agg(mean_rating = ('rating', 'mean'),number_of_ratings = ('rating', 'count')).reset_index()
# Keep the movies with over 100 ratings
agg_ratings_GT100 = agg_ratings[agg_ratings['number_of_ratings']>5]
agg_ratings_GT100.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6 entries, 4 to 23
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   title              6 non-null      object
 1   mean_rating        6 non-null      float64
 2   number_of_ratings  6 non-null      int64
dtypes: float64(1), int64(1), object(1)
memory usage: 192.0+ bytes

In [59]:
# Check popular movies
# agg_ratings_GT100.sort_values(by='number_of_ratings', ascending=False).head()

In [60]:
# matrix = df_GT100.pivot_table(index='userId', columns='title', values='rating')
# matrix.head()

In [61]:
# Create user-item matrix
matrix = df_GT100.pivot_table(index='created_by_id', columns='title', values='rating')
matrix.head()

title,C Programming An Intorduction,Database Management System,Database Management Systems(DBMS),Introduction to Database Management System,Robort Programming (ROS),The C Programming Language
created_by_id,,,,,,
1,4.0,NaN,3.0,5.0,2.0,4.0
2,5.0,2.500000,5.0,3.0,3.0,3.0
3,2.0,3.666667,3.0,4.0,5.0,2.0
4,3.0,4.666667,3.0,4.0,5.0,4.0
5,5.0,2.333333,4.0,5.0,3.0,5.0

In [50]:
# Normalize user-item matrix
matrix_norm = matrix.subtract(matrix.mean(axis=1), axis = 'rows')
matrix_norm.head()

title,C Programming An Intorduction,Database Management System,Database Management Systems(DBMS),Introduction to Database Management System,Robort Programming (ROS),The C Programming Language
created_by_id,,,,,,
1,0.400000,NaN,-0.600000,1.400000,-1.600000,0.400000
2,1.416667,-1.083333,1.416667,-0.583333,-0.583333,-0.583333
3,-1.277778,0.388889,-0.277778,0.722222,1.722222,-1.277778
4,-0.944444,0.722222,-0.944444,0.055556,1.055556,0.055556
5,0.944444,-1.722222,-0.055556,0.944444,-1.055556,0.944444

In [51]:
# User similarity matrix using Pearson correlation
user_similarity = matrix_norm.T.corr()
user_similarity.head()

created_by_id,1,2,3,4,5,6,8,9
created_by_id,,,,,,,,
1,1.000000,-0.080064,-0.437237,-0.366900,0.931552,NaN,0.500000,-1.000000
2,-0.080064,1.000000,-0.502092,-0.897444,0.407365,NaN,-0.797802,-0.277350
3,-0.437237,-0.502092,1.000000,0.723231,-0.611940,NaN,0.995910,0.976554
4,-0.366900,-0.897444,0.723231,1.000000,-0.642664,NaN,0.717137,0.995871
5,0.931552,0.407365,-0.611940,-0.642664,1.000000,NaN,-0.271448,-0.884615

In [52]:
# User similarity matrix using cosine similarity
user_similarity_cosine = cosine_similarity(matrix_norm.fillna(0))
user_similarity_cosine

array([[ 1.        , -0.0703997 , -0.43151697, -0.33169382,  0.64096213,
         0.        ,  0.25202477, -0.53625923],
       [-0.0703997 ,  1.        , -0.50209183, -0.89744382,  0.40736531,
         0.        , -0.72926762, -0.04544281],
       [-0.43151697, -0.50209183,  1.        ,  0.72323066, -0.61193987,
         0.        ,  0.57575099,  0.78563412],
       [-0.33169382, -0.89744382,  0.72323066,  1.        , -0.6426643 ,
         0.        ,  0.54793399,  0.38743251],
       [ 0.64096213,  0.40736531, -0.61193987, -0.6426643 ,  1.        ,
         0.        , -0.227554  , -0.66778971],
       [ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ],
       [ 0.25202477, -0.72926762,  0.57575099,  0.54793399, -0.227554  ,
         0.        ,  1.        ,  0.05741693],
       [-0.53625923, -0.04544281,  0.78563412,  0.38743251, -0.66778971,
         0.        ,  0.05741693,  1.        ]])

In [53]:
# Pick a user ID
picked_userid = 1
# Remove picked user ID from the candidate list
user_similarity.drop(index=picked_userid, inplace=True)
# Take a look at the data
user_similarity.head()

created_by_id,1,2,3,4,5,6,8,9
created_by_id,,,,,,,,
2,-0.080064,1.000000,-0.502092,-0.897444,0.407365,NaN,-0.797802,-0.277350
3,-0.437237,-0.502092,1.000000,0.723231,-0.611940,NaN,0.995910,0.976554
4,-0.366900,-0.897444,0.723231,1.000000,-0.642664,NaN,0.717137,0.995871
5,0.931552,0.407365,-0.611940,-0.642664,1.000000,NaN,-0.271448,-0.884615
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
# Number of similar users
n = 10
# User similarity threashold
user_similarity_threshold = 0.1
# Get top n similar users
similar_users = user_similarity[user_similarity[picked_userid]>user_similarity_threshold][picked_userid].sort_values(ascending=False)[:n]
# Print out top n similar users
print(f'The similar users for user {picked_userid} are', similar_users)

The similar users for user 1 are created_by_id
5    0.931552
8    0.500000
Name: 1, dtype: float64

In [55]:
# Movies that the target user has watched
picked_userid_watched = matrix_norm[matrix_norm.index == picked_userid].dropna(axis=1, how='all')
picked_userid_watched

title,C Programming An Intorduction,Database Management Systems(DBMS),Introduction to Database Management System,Robort Programming (ROS),The C Programming Language
created_by_id,,,,,
1,0.4,-0.6,1.4,-1.6,0.4

In [56]:
# Movies that similar users watched. Remove movies that none of the similar users have watched
similar_user_movies = matrix_norm[matrix_norm.index.isin(similar_users.index)].dropna(axis=1, how='all')
similar_user_movies

title,C Programming An Intorduction,Database Management System,Database Management Systems(DBMS),Introduction to Database Management System,Robort Programming (ROS),The C Programming Language
created_by_id,,,,,,
5,0.944444,-1.722222,-0.055556,0.944444,-1.055556,0.944444
8,-2.250000,0.750000,-0.250000,1.750000,NaN,NaN

In [63]:
# Remove the watched movie from the movie list
similar_user_movies.drop(picked_userid_watched.columns,axis=1, inplace=True, errors='ignore')
# Take a look at the data
similar_user_movies

title          Database Management System
created_by_id
5                               -1.722222
8                                0.750000

In [66]:
# A dictionary to store item scores
item_score = {}
# Loop through items
for i in similar_user_movies.columns:
  # Get the ratings for movie i
  movie_rating = similar_user_movies[i]
  # Create a variable to store the score
  total = 0
  # Create a variable to store the number of scores
  count = 0
  # Loop through similar users
  for u in similar_users.index:
    # If the movie has rating
    if pd.isna(movie_rating[u]) == False:
      # Score is the sum of user similarity score multiply by the movie rating
      score = similar_users[u] * movie_rating[u]
      # Add the score to the total score for the movie so far
      total += score
      # Add 1 to the count
      count +=1
  # Get the average score for the item
  item_score[i] = total / count
# Convert dictionary to pandas dataframe
item_score = pd.DataFrame(item_score.items(), columns=['movie', 'movie_score'])
    
# Sort the movies by score
ranked_item_score = item_score.sort_values(by='movie_score', ascending=False)
# Select top m movies
m = 10
ranked_item_score.head(m)

                        movie  movie_score
0  Database Management System    -0.614669

In [69]:
def recommendation(picked_userid)
    matrix_norm = matrix.subtract(matrix.mean(axis=1), axis = 'rows')
    user_similarity = matrix_norm.T.corr()
    user_similarity_cosine = cosine_similarity(matrix_norm.fillna(0))
    user_similarity.drop(index=picked_userid, inplace=True)
    
    # Number of similar users
    n = 10
    # User similarity threashold
    user_similarity_threshold = 0.1
    # Get top n similar users
    similar_users = user_similarity[user_similarity[picked_userid]>user_similarity_threshold][picked_userid].sort_values(ascending=False)[:n]

    
    similar_user_movies = matrix_norm[matrix_norm.index.isin(similar_users.index)].dropna(axis=1, how='all')
    # Remove the watched movie from the movie list
    similar_user_movies.drop(picked_userid_watched.columns,axis=1, inplace=True, errors='ignore')
    
    # A dictionary to store item scores
    item_score = {}
    # Loop through items
    for i in similar_user_movies.columns:
      # Get the ratings for movie i
      movie_rating = similar_user_movies[i]
      # Create a variable to store the score
      total = 0
      # Create a variable to store the number of scores
      count = 0
      # Loop through similar users
      for u in similar_users.index:
        # If the movie has rating
        if pd.isna(movie_rating[u]) == False:
          # Score is the sum of user similarity score multiply by the movie rating
          score = similar_users[u] * movie_rating[u]
          # Add the score to the total score for the movie so far
          total += score
          # Add 1 to the count
          count +=1
      # Get the average score for the item
      item_score[i] = total / count
    # Convert dictionary to pandas dataframe
    item_score = pd.DataFrame(item_score.items(), columns=['movie', 'movie_score'])

    # Sort the movies by score
    ranked_item_score = item_score.sort_values(by='movie_score', ascending=False)
    # Select top m movies
    m = 10
    ranked_item_score.head(m)

SyntaxError: invalid syntax (4169930818.py, line 1)