In [1]:
!pip install Django

Requirement already satisfied: Django in /Users/Apple 1/Desktop/garbage/venv/lib/python3.9/site-packages (4.1.3)
Requirement already satisfied: asgiref<4,>=3.5.2 in /Users/Apple 1/Desktop/garbage/venv/lib/python3.9/site-packages (from Django) (3.5.2)
Requirement already satisfied: sqlparse>=0.2.2 in /Users/Apple 1/Desktop/garbage/venv/lib/python3.9/site-packages (from Django) (0.4.3)

[notice] A new release of pip is available: 23.0.1 -> 23.1.1
[notice] To update, run: pip install --upgrade pip

In [2]:
!pip install numpy

Requirement already satisfied: numpy in /Users/Apple 1/Desktop/garbage/venv/lib/python3.9/site-packages (1.24.2)

[notice] A new release of pip is available: 23.0.1 -> 23.1.1
[notice] To update, run: pip install --upgrade pip

In [3]:
import os
os.environ.setdefault("DJANGO_SETTINGS_MODULE", "e_library.settings")

'e_library.settings'

In [4]:
import django
django.setup()

In [5]:
!pip install pandas

Requirement already satisfied: pandas in /Users/Apple 1/Desktop/garbage/venv/lib/python3.9/site-packages (2.0.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/Apple 1/Desktop/garbage/venv/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in /Users/Apple 1/Desktop/garbage/venv/lib/python3.9/site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.20.3 in /Users/Apple 1/Desktop/garbage/venv/lib/python3.9/site-packages (from pandas) (1.24.2)
Requirement already satisfied: pytz>=2020.1 in /Users/Apple 1/Desktop/garbage/venv/lib/python3.9/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /Users/Apple 1/Desktop/garbage/venv/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 23.0.1 -> 23.1.1
[notice] To update, run: pip install --upgrade pip

In [6]:
from books.models import Pdf_Info, Review
from auth_users.models import Profile

import pandas as pd
import numpy as np

In [9]:
from asgiref.sync import sync_to_async

@sync_to_async
def get_books():
    return list(Pdf_Info.objects.all().values())

books = await get_books()
df_books = pd.DataFrame(books)
df_books.head(35)
# books = df_books.rename(columns={'id':'book_id'}, inplace = True)
# books

,id,genre_id,title,author,isbn,publisher,image,description,slug,published_year,book_pdf,is_premium
0,1,1,C Programming,Grege Perry and Dean Miller,qomxczekkyaob,KCT pvt Ltd,book_image/images.jpeg,The C Programming Language (2nd Edition) writt...,8fwoBZ,2006,book/Cover_Letter_gb23EZr.pdf,False
1,2,2,Database Management Systems(A Practical Approach),Dr.Rajiv Chopra,ZDmqrBT1UVqSk,KCT pvt Ltd,book_image/1.jpeg,Database Management Systems (DBMS) is a must f...,hxT9Sd,,book/d1.pdf,False
2,3,2,Database Management System(IV Semester Compute...,"Safa Hamdare, Bhavesh Panday",pOorZOTWq54QU,KCT pvt Ltd,book_image/2.jpg,Database Management Systems (DBMS) is a must f...,CHxh06,2006,book/d2.pdf,False
3,4,2,Database Management System (Schaum's Outline),"Ramon A Mata-Toledo, Pauline K Cushman",1fT2cxJ0j3vtJ,KCT pvt Ltd,book_image/3.jpg,Database Management Systems (DBMS) is a must f...,IP7MKC,,book/d3.pdf,False
4,5,2,Database Management System(Ashirwad's),"Arihant Khicha, Neti Kapoor",mSxc9tDrBfZwS,#######,book_image/5.jpg,Database Management Systems (DBMS) is a must f...,Ak2lr0,,book/d5.pdf,False
5,6,2,Database Management System(For Madras University),"Dr. R. Manjula Devi, V. Sicaranjani, M. Sangeetha",cKYkBKeNHFXOO,######,book_image/6.jpg,Database Management Systems (DBMS) is a must f...,Bn4tjN,,book/d6.pdf,False
6,7,2,Database Management System(DBMS),P. S. Gill,h7u5yOTJbYSEi,######,book_image/7.jpg,Database Management Systems (DBMS) is a must f...,3iTH6U,,book/d7.pdf,False
7,8,2,Database Management System,Iraka Chaudhary,xN3hOjjABb3Y3,#######,book_image/8.jpg,Database Management Systems (DBMS) is a must f...,0OiEyP,,book/d8.pdf,False
8,9,2,Introduction to Database Management System,Atul Kahate,cC0xxwjT4qqCB,#######,book_image/10.jpg,Database Management Systems (DBMS) is a must f...,NW7UE2,,book/d10.pdf,False
9,10,1,C Programming An Intorduction,R. Chopra,rljZ8Fo4hg3ub,#########,book_image/p1.jpeg,The C Programming Language (2nd Edition) writt...,7COzwk,,book/a1.pdf,False
10,11,1,The C Programming Language,Brian Kernighan and Dennis Ritchie,5v1XaatHeJ83j,#######,book_image/p2.jpeg,Database Management Systems (DBMS) is a must f...,k21bWp,,book/a2.pdf,False
11,12,1,Java Programming Language,Steve Tutor,O3UOfZ6Jp5bNV,#######,book_image/p3.jpeg,The C Programming Language (2nd Edition) writt...,x9bGdl,,book/a6.pdf,False
12,13,1,Java Programming Beginner Guide,Mr. Kotiyana Publishing,FEWzVFDO9qcm1,#######,book_image/p4.jpeg,The C Programming Language (2nd Edition) writt...,TPE1Bq,,book/a8.pdf,False
13,14,1,Robort Programming (ROS),Jhon Methu/ Willam Disuja,CGnl9IdLRllv0,#######,book_image/p5.jpeg,The C Programming Language (2nd Edition) writt...,gFgphs,,book/a6_MWBWcfF.pdf,False
14,15,1,C Programming With Arduino,Mahesh A. Shah,P4pOBvEIoAZ9P,#######,book_image/p6.jpeg,The C Programming Language (2nd Edition) writt...,C9j2c1,,book/a12.pdf,False
15,16,3,Computer Networking Beginner Guide,Tim Wired,m2K0GRPE8KxSj,#########,book_image/15.jpeg,"In the field of communication, Computer Networ...",DaAsK2g,2000,book/a6_tvdS7xd.pdf,False
16,17,3,Computer Networking,Pearson,FtRyEGg0OfE7P,#######,book_image/n1.jpeg,"In the field of communication, Computer Networ...",2bK6VVt,,book/a14.pdf,False
17,18,3,An Essential Guide to Computer Network,skarad C. Joshi,OWR8yUVg8DkPB,#######,book_image/n2.jpeg,"In the field of communication, Computer Networ...",qfE47kV,,book/a13.pdf,False
18,19,3,A Text Book of Computer Networks,Sanjay Sharma,mO7MihgZd3Z5z,######,book_image/n3.jpeg,"In the field of communication, Computer Networ...",Woni0IK,,book/a19.pdf,False
19,20,3,Computer Networking (Top Down Approach),"Kurose, Ross",t00WGEEQ4NA6e,######,book_image/n8.jpeg,"In the field of communication, Computer Networ...",pmR8wih,,book/a16.pdf,False
20,21,3,Data Communication and Computer Networks,Jhon Methu/ Willam Disuja,h10hUwneWvb0P,######,book_image/n10.jpeg,"In the field of communication, Computer Networ...",iqB1n1Q,,book/c4.pdf,False
21,22,3,"Computer Network (Principles, Technologies and...","Najalia Olfer, Victor Olifer",wXAm46h6PsRdC,#########,book_image/n11.jpeg,"In the field of communication, Computer Networ...",XzqS2jJ,,book/c2.pdf,False
22,23,3,Computer Networking Beginners Guide,Kevin Morgan,9IBmi8TqCfanQ,######,book_image/n13.jpeg,"In the field of communication, Computer Networ...",9SAdCKp,,book/a15.pdf,False
23,24,3,Black Hat Python( Python Programming for Hacke...,Joseph Migga Kiza,USCsQvGbia5I5,#########,book_image/n15.jpeg,"In the field of communication, Computer Networ...",VcUufSf,,book/a19_irzy8OY.pdf,False
24,25,3,Computer Networks,"Andrew S. Tanenbaum, Nick Feamster",2yqWUmf46gVuy,######,book_image/n16.jpeg,"In the field of communication, Computer Networ...",J52Y0KO,,book/c13.pdf,False
25,26,3,Computer Networks and Internets,Douglas E. Comer,U0VcFEg87f8E7,######,book_image/n18.jpeg,"In the field of communication, Computer Networ...",yvWL4OZ,,book/c3.pdf,False
26,27,3,Fundamentals of Computer Networks,"Matthew N. O. Sadika, Cajetan M. Akujuobi",E38oT4jU8elfV,#########,book_image/n20.jpeg,"In the field of communication, Computer Networ...",HWVDn15,,book/c2_ktWDa8Z.pdf,False
27,28,3,Advance Java Programming,"Hemant Oza, Ghanshyan Shah",Nz9248b4qMrvU,######,book_image/p16.png,This is the 3rd edition of a research monograp...,cxFWTYb,,book/c4_wSgjSCJ.pdf,False
28,29,3,The Complete Reference,PHP,n39eWvo5q4dsc,#########,book_image/p20.jpeg,This is the 3rd edition of a research monograp...,ZvWaiIY,,book/a19_s8GJQYU.pdf,False
29,30,1,Java Programming,Grege Perry and Dean Miller,cGIxu7T93Dg7H,#######,book_image/p18.jpeg,This is the 3rd edition of a research monograp...,8thEfXK,,book/c2_IviQduB.pdf,False
30,31,1,C Programming Language,Darrel S. Granam,2oQD2XF4Wya6u,#######,book_image/p17.jpeg,This is the 3rd edition of a research monograp...,DNACOsv,,book/a12_JMnwv2o.pdf,False
31,32,1,JavaScript Programming Language,John Devid N. Dlonaldo,ghS70fC9HW4D6,#########,book_image/p13.jpeg,This is the 3rd edition of a research monograp...,HsneEe4,,book/a15_OZXc4nf.pdf,False

In [10]:
df_books['image'][1]

'book_image/1.jpeg'

In [11]:
from asgiref.sync import sync_to_async

@sync_to_async
def get_users():
    return list(Profile.objects.all().values())

users = await get_users()
df_users = pd.DataFrame(users)
df_users.head()

   id  user_id       avatar city zone contact_no tole bio
0   1        1  default.png
1   2        2  default.png
2   3        3  default.png
3   4        4  default.png
4   5        5  default.png

In [12]:
@sync_to_async
def get_reviews():
    return list(Review.objects.all().values())

reviews = await get_reviews()
df_reviews = pd.DataFrame(reviews)
df_reviews.head()

,id,book_id,rating,created_by_id,content,created_at,isbn
0,1,1,1,1,Poor Explanation,2023-04-21 07:52:42.216176+00:00,qomxczekkyaob
1,2,2,3,1,nice!!!!,2023-04-21 09:58:56.222078+00:00,ZDmqrBT1UVqSk
2,3,9,5,1,Excellent,2023-04-21 09:59:35.827144+00:00,cC0xxwjT4qqCB
3,4,10,4,1,Good book,2023-04-21 09:59:57.790780+00:00,rljZ8Fo4hg3ub
4,5,11,4,1,Excellent!!!!!!!,2023-04-21 10:00:15.205738+00:00,5v1XaatHeJ83j

In [13]:
#To check rows and columns in the database
print(df_books.shape)
print(df_reviews.shape)
print(df_users.shape)

(32, 12)
(105, 7)
(10, 8)

In [14]:
# TO Check Missing Values
# df_books.isnull().sum()

In [15]:
# df_users.isnull().sum()

In [16]:
# df_books.duplicated().sum

In [17]:
# df_reviews.duplicated().sum()

In [18]:
# df_users.duplicated().sum()

# Popularity based Recommendation System

In [19]:
ratings_with_name = df_reviews.merge(df_books, on = 'isbn')
# ratings_with_name

In [20]:

num_rating_df = ratings_with_name.groupby('title').count()[['rating']].reset_index()
num_rating_df.rename(columns={'rating':'num_ratings'}, inplace = True)
num_rating_df.head()

                                               title  num_ratings
0                   A Text Book of Computer Networks            1
1                           Advance Java Programming            2
2  Black Hat Python( Python Programming for Hacke...            2
3                                      C Programming            5
4                      C Programming An Intorduction            6

In [21]:
#Average Rating
# avg_rating_df = ratings_with_name.groupby('title').mean()['rating'].reset_index()
# avg_rating_df.rename(columns={'rating':'avg_rating'}, inplace = True)
# avg_rating_df 
# Convert 'rating' column to numeric
ratings_with_name['rating'] = pd.to_numeric(ratings_with_name['rating'], errors='coerce')

# Average Rating
avg_rating_df = ratings_with_name.groupby('title')['rating'].mean().reset_index()
avg_rating_df.rename(columns={'rating':'avg_rating'}, inplace=True)

In [22]:
#merge average rating and number rating
popular_df = num_rating_df.merge(avg_rating_df, on = 'title')
popular_df.head()

                                               title  num_ratings  avg_rating
0                   A Text Book of Computer Networks            1    5.000000
1                           Advance Java Programming            2    4.500000
2  Black Hat Python( Python Programming for Hacke...            2    2.500000
3                                      C Programming            5    2.800000
4                      C Programming An Intorduction            6    3.333333

In [23]:
#shows popular book whose num rating>3
popular_df = popular_df[popular_df['num_ratings'] >=2].sort_values('avg_rating',ascending =False).head(5)
# popular_df

In [24]:
popular_df.merge(df_books, on='title')

,title,num_ratings,avg_rating,id,genre_id,author,isbn,publisher,image,description,slug,published_year,book_pdf,is_premium
0,Data Communication and Computer Networks,3,4.666667,21,3,Jhon Methu/ Willam Disuja,h10hUwneWvb0P,######,book_image/n10.jpeg,"In the field of communication, Computer Networ...",iqB1n1Q,,book/c4.pdf,False
1,Database Management System,3,4.666667,8,2,Iraka Chaudhary,xN3hOjjABb3Y3,#######,book_image/8.jpg,Database Management Systems (DBMS) is a must f...,0OiEyP,,book/d8.pdf,False
2,Advance Java Programming,2,4.500000,28,3,"Hemant Oza, Ghanshyan Shah",Nz9248b4qMrvU,######,book_image/p16.png,This is the 3rd edition of a research monograp...,cxFWTYb,,book/c4_wSgjSCJ.pdf,False
3,Fundamentals of Computer Networks,2,4.500000,27,3,"Matthew N. O. Sadika, Cajetan M. Akujuobi",E38oT4jU8elfV,#########,book_image/n20.jpeg,"In the field of communication, Computer Networ...",HWVDn15,,book/c2_ktWDa8Z.pdf,False
4,Java Programming Beginner Guide,5,4.400000,13,1,Mr. Kotiyana Publishing,FEWzVFDO9qcm1,#######,book_image/p4.jpeg,The C Programming Language (2nd Edition) writt...,TPE1Bq,,book/a8.pdf,False

In [25]:
popular_df = popular_df.merge(df_books, on='title').drop_duplicates('title')[['title', 'image', 'author', 'num_ratings', 'avg_rating']]

In [26]:
# popular_df.head()
popular_df['image'][0]

'book_image/n10.jpeg'

In [27]:
popular_df.head()

,title,image,author,num_ratings,avg_rating
0,Data Communication and Computer Networks,book_image/n10.jpeg,Jhon Methu/ Willam Disuja,3,4.666667
1,Database Management System,book_image/8.jpg,Iraka Chaudhary,3,4.666667
2,Advance Java Programming,book_image/p16.png,"Hemant Oza, Ghanshyan Shah",2,4.500000
3,Fundamentals of Computer Networks,book_image/n20.jpeg,"Matthew N. O. Sadika, Cajetan M. Akujuobi",2,4.500000
4,Java Programming Beginner Guide,book_image/p4.jpeg,Mr. Kotiyana Publishing,5,4.400000

## Collaborative Filtering

In [28]:
# ratings_with_name.groupby('created_by_id').count()['rating'] > 10

In [48]:
# ratings_with_name.head()
# coll_fil = pd.DataFrame(ratings_with_name)
# coll_fil

,id_x,book_id,rating,created_by_id,content,created_at,isbn,id_y,genre_id,title,author,publisher,image,description,slug,published_year,book_pdf,is_premium
0,1,1,1,1,Poor Explanation,2023-04-21 07:52:42.216176+00:00,qomxczekkyaob,1,1,C Programming,Grege Perry and Dean Miller,KCT pvt Ltd,book_image/images.jpeg,The C Programming Language (2nd Edition) writt...,8fwoBZ,2006,book/Cover_Letter_gb23EZr.pdf,False
1,10,1,5,2,Excellent books!!!,2023-04-21 10:03:19.276618+00:00,qomxczekkyaob,1,1,C Programming,Grege Perry and Dean Miller,KCT pvt Ltd,book_image/images.jpeg,The C Programming Language (2nd Edition) writt...,8fwoBZ,2006,book/Cover_Letter_gb23EZr.pdf,False
2,21,1,3,3,not bad,2023-04-21 10:09:13.812996+00:00,qomxczekkyaob,1,1,C Programming,Grege Perry and Dean Miller,KCT pvt Ltd,book_image/images.jpeg,The C Programming Language (2nd Edition) writt...,8fwoBZ,2006,book/Cover_Letter_gb23EZr.pdf,False
3,33,1,4,4,beginner guide,2023-04-21 10:13:28.875287+00:00,qomxczekkyaob,1,1,C Programming,Grege Perry and Dean Miller,KCT pvt Ltd,book_image/images.jpeg,The C Programming Language (2nd Edition) writt...,8fwoBZ,2006,book/Cover_Letter_gb23EZr.pdf,False
4,45,1,1,5,poorest book ever read,2023-04-21 10:18:58.763847+00:00,qomxczekkyaob,1,1,C Programming,Grege Perry and Dean Miller,KCT pvt Ltd,book_image/images.jpeg,The C Programming Language (2nd Edition) writt...,8fwoBZ,2006,book/Cover_Letter_gb23EZr.pdf,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100,79,16,2,1,very bad,2023-04-22 17:32:42.218400+00:00,m2K0GRPE8KxSj,16,3,Computer Networking Beginner Guide,Tim Wired,#########,book_image/15.jpeg,"In the field of communication, Computer Networ...",DaAsK2g,2000,book/a6_tvdS7xd.pdf,False
101,101,16,5,8,excellent,2023-04-22 17:43:32.441749+00:00,m2K0GRPE8KxSj,16,3,Computer Networking Beginner Guide,Tim Wired,#########,book_image/15.jpeg,"In the field of communication, Computer Networ...",DaAsK2g,2000,book/a6_tvdS7xd.pdf,False
102,94,30,3,9,not bad,2023-04-22 17:38:14.001559+00:00,cGIxu7T93Dg7H,30,1,Java Programming,Grege Perry and Dean Miller,#######,book_image/p18.jpeg,This is the 3rd edition of a research monograp...,8thEfXK,,book/c2_IviQduB.pdf,False
103,102,30,5,8,haaw,2023-04-22 17:43:43.825809+00:00,cGIxu7T93Dg7H,30,1,Java Programming,Grege Perry and Dean Miller,#######,book_image/p18.jpeg,This is the 3rd edition of a research monograp...,8thEfXK,,book/c2_IviQduB.pdf,False
104,98,19,5,8,excellent,2023-04-22 17:42:44.664907+00:00,mO7MihgZd3Z5z,19,3,A Text Book of Computer Networks,Sanjay Sharma,######,book_image/n3.jpeg,"In the field of communication, Computer Networ...",Woni0IK,,book/a19.pdf,False

In [51]:
#those users who have rated more than 10 books
x = ratings_with_name.groupby('created_by_id').count()['rating'] > 10
read_users = x[x].index
read_users

Index([1, 2, 3, 4, 5, 9], dtype='int64', name='created_by_id')

In [31]:
#filtered on the basis of rating
filtered_rating = ratings_with_name[ratings_with_name['created_by_id'].isin(read_users)]
# filtered_rating

In [32]:
#those books that have at least 5 number of rating
y = filtered_rating.groupby('title').count()['rating'] >= 5
famous_books = y[y].index
# famous_books

In [33]:
final_ratings = filtered_rating[filtered_rating['title'].isin(famous_books)]
# final_ratings.drop_duplicates()

In [75]:
# pt = final_ratings.pivot_table(index = 'created_by_id', columns = 'title', values = 'rating')
pt = final_ratings.pivot_table(index = 'title', columns = 'created_by_id', values = 'rating')

# final_ratings.to_frame().reset_index().pivot_table(index='title')

In [76]:
pt.fillna(0, inplace = True)

In [77]:
pt

created_by_id,1,2,3,4,5,9
title,,,,,,
C Programming,1.0,5.0,3.0,4.0,1.0,0.0
C Programming An Intorduction,4.0,5.0,2.0,3.0,5.0,0.0
C Programming With Arduino,3.0,5.0,4.0,2.0,3.0,0.0
Database Management Systems(A Practical Approach),3.0,5.0,3.0,3.0,4.0,0.0
Introduction to Database Management System,5.0,3.0,4.0,4.0,5.0,0.0
Java Programming Beginner Guide,3.0,5.0,4.0,5.0,5.0,0.0
Java Programming Language,2.0,3.0,5.0,3.0,5.0,0.0
Robort Programming (ROS),2.0,3.0,5.0,5.0,3.0,5.0
The C Programming Language,4.0,3.0,2.0,4.0,5.0,3.0

In [78]:
from sklearn.metrics.pairwise import cosine_similarity

In [79]:
similarity_scores = cosine_similarity(pt)

In [80]:
similarity_scores[0]

array([1.        , 0.81131242, 0.89104211, 0.89129145, 0.77046604,
       0.90138782, 0.80080755, 0.77441749, 0.71769945])

In [81]:
similarity_scores.shape

(9, 9)

In [82]:
#suggest five books
def recommend(book_name):
    # index fetch
    index = np.where(pt.index==book_name)[0][0]
    similar_items = sorted(list(enumerate(similarity_scores[index])),key=lambda x:x[1],reverse=True)[1:5]
    
    data = []
    for i in similar_items:
        item = []
        temp_df = df_books[df_books['title'] == pt.index[i[0]]]
        item.extend(list(temp_df.drop_duplicates('title')['title'].values))
        item.extend(list(temp_df.drop_duplicates('title')['author'].values))
        item.extend(list(temp_df.drop_duplicates('title')['image'].values))
        
        data.append(item)
    
    return data

In [83]:
# sorted(list(enumerate(similarity_scores[0])),key=lambda x:x[1],reverse=True)

In [84]:
recommend('C Programming An Intorduction')

[['Database Management Systems(A Practical Approach)',
  'Dr.Rajiv Chopra',
  'book_image/1.jpeg'],
 ['Java Programming Beginner Guide',
  'Mr. Kotiyana Publishing',
  'book_image/p4.jpeg'],
 ['Introduction to Database Management System',
  'Atul Kahate',
  'book_image/10.jpg'],
 ['C Programming With Arduino', 'Mahesh A. Shah', 'book_image/p6.jpeg']]

In [44]:
import pickle
pickle.dump(popular_df,open('popular.pkl','wb'))

In [45]:
df_books.drop_duplicates('title')

,id,genre_id,title,author,isbn,publisher,image,description,slug,published_year,book_pdf,is_premium
0,1,1,C Programming,Grege Perry and Dean Miller,qomxczekkyaob,KCT pvt Ltd,book_image/images.jpeg,The C Programming Language (2nd Edition) writt...,8fwoBZ,2006,book/Cover_Letter_gb23EZr.pdf,False
1,2,2,Database Management Systems(A Practical Approach),Dr.Rajiv Chopra,ZDmqrBT1UVqSk,KCT pvt Ltd,book_image/1.jpeg,Database Management Systems (DBMS) is a must f...,hxT9Sd,,book/d1.pdf,False
2,3,2,Database Management System(IV Semester Compute...,"Safa Hamdare, Bhavesh Panday",pOorZOTWq54QU,KCT pvt Ltd,book_image/2.jpg,Database Management Systems (DBMS) is a must f...,CHxh06,2006,book/d2.pdf,False
3,4,2,Database Management System (Schaum's Outline),"Ramon A Mata-Toledo, Pauline K Cushman",1fT2cxJ0j3vtJ,KCT pvt Ltd,book_image/3.jpg,Database Management Systems (DBMS) is a must f...,IP7MKC,,book/d3.pdf,False
4,5,2,Database Management System(Ashirwad's),"Arihant Khicha, Neti Kapoor",mSxc9tDrBfZwS,#######,book_image/5.jpg,Database Management Systems (DBMS) is a must f...,Ak2lr0,,book/d5.pdf,False
5,6,2,Database Management System(For Madras University),"Dr. R. Manjula Devi, V. Sicaranjani, M. Sangeetha",cKYkBKeNHFXOO,######,book_image/6.jpg,Database Management Systems (DBMS) is a must f...,Bn4tjN,,book/d6.pdf,False
6,7,2,Database Management System(DBMS),P. S. Gill,h7u5yOTJbYSEi,######,book_image/7.jpg,Database Management Systems (DBMS) is a must f...,3iTH6U,,book/d7.pdf,False
7,8,2,Database Management System,Iraka Chaudhary,xN3hOjjABb3Y3,#######,book_image/8.jpg,Database Management Systems (DBMS) is a must f...,0OiEyP,,book/d8.pdf,False
8,9,2,Introduction to Database Management System,Atul Kahate,cC0xxwjT4qqCB,#######,book_image/10.jpg,Database Management Systems (DBMS) is a must f...,NW7UE2,,book/d10.pdf,False
9,10,1,C Programming An Intorduction,R. Chopra,rljZ8Fo4hg3ub,#########,book_image/p1.jpeg,The C Programming Language (2nd Edition) writt...,7COzwk,,book/a1.pdf,False
10,11,1,The C Programming Language,Brian Kernighan and Dennis Ritchie,5v1XaatHeJ83j,#######,book_image/p2.jpeg,Database Management Systems (DBMS) is a must f...,k21bWp,,book/a2.pdf,False
11,12,1,Java Programming Language,Steve Tutor,O3UOfZ6Jp5bNV,#######,book_image/p3.jpeg,The C Programming Language (2nd Edition) writt...,x9bGdl,,book/a6.pdf,False
12,13,1,Java Programming Beginner Guide,Mr. Kotiyana Publishing,FEWzVFDO9qcm1,#######,book_image/p4.jpeg,The C Programming Language (2nd Edition) writt...,TPE1Bq,,book/a8.pdf,False
13,14,1,Robort Programming (ROS),Jhon Methu/ Willam Disuja,CGnl9IdLRllv0,#######,book_image/p5.jpeg,The C Programming Language (2nd Edition) writt...,gFgphs,,book/a6_MWBWcfF.pdf,False
14,15,1,C Programming With Arduino,Mahesh A. Shah,P4pOBvEIoAZ9P,#######,book_image/p6.jpeg,The C Programming Language (2nd Edition) writt...,C9j2c1,,book/a12.pdf,False
15,16,3,Computer Networking Beginner Guide,Tim Wired,m2K0GRPE8KxSj,#########,book_image/15.jpeg,"In the field of communication, Computer Networ...",DaAsK2g,2000,book/a6_tvdS7xd.pdf,False
16,17,3,Computer Networking,Pearson,FtRyEGg0OfE7P,#######,book_image/n1.jpeg,"In the field of communication, Computer Networ...",2bK6VVt,,book/a14.pdf,False
17,18,3,An Essential Guide to Computer Network,skarad C. Joshi,OWR8yUVg8DkPB,#######,book_image/n2.jpeg,"In the field of communication, Computer Networ...",qfE47kV,,book/a13.pdf,False
18,19,3,A Text Book of Computer Networks,Sanjay Sharma,mO7MihgZd3Z5z,######,book_image/n3.jpeg,"In the field of communication, Computer Networ...",Woni0IK,,book/a19.pdf,False
19,20,3,Computer Networking (Top Down Approach),"Kurose, Ross",t00WGEEQ4NA6e,######,book_image/n8.jpeg,"In the field of communication, Computer Networ...",pmR8wih,,book/a16.pdf,False
20,21,3,Data Communication and Computer Networks,Jhon Methu/ Willam Disuja,h10hUwneWvb0P,######,book_image/n10.jpeg,"In the field of communication, Computer Networ...",iqB1n1Q,,book/c4.pdf,False
21,22,3,"Computer Network (Principles, Technologies and...","Najalia Olfer, Victor Olifer",wXAm46h6PsRdC,#########,book_image/n11.jpeg,"In the field of communication, Computer Networ...",XzqS2jJ,,book/c2.pdf,False
22,23,3,Computer Networking Beginners Guide,Kevin Morgan,9IBmi8TqCfanQ,######,book_image/n13.jpeg,"In the field of communication, Computer Networ...",9SAdCKp,,book/a15.pdf,False
23,24,3,Black Hat Python( Python Programming for Hacke...,Joseph Migga Kiza,USCsQvGbia5I5,#########,book_image/n15.jpeg,"In the field of communication, Computer Networ...",VcUufSf,,book/a19_irzy8OY.pdf,False
24,25,3,Computer Networks,"Andrew S. Tanenbaum, Nick Feamster",2yqWUmf46gVuy,######,book_image/n16.jpeg,"In the field of communication, Computer Networ...",J52Y0KO,,book/c13.pdf,False
25,26,3,Computer Networks and Internets,Douglas E. Comer,U0VcFEg87f8E7,######,book_image/n18.jpeg,"In the field of communication, Computer Networ...",yvWL4OZ,,book/c3.pdf,False
26,27,3,Fundamentals of Computer Networks,"Matthew N. O. Sadika, Cajetan M. Akujuobi",E38oT4jU8elfV,#########,book_image/n20.jpeg,"In the field of communication, Computer Networ...",HWVDn15,,book/c2_ktWDa8Z.pdf,False
27,28,3,Advance Java Programming,"Hemant Oza, Ghanshyan Shah",Nz9248b4qMrvU,######,book_image/p16.png,This is the 3rd edition of a research monograp...,cxFWTYb,,book/c4_wSgjSCJ.pdf,False
28,29,3,The Complete Reference,PHP,n39eWvo5q4dsc,#########,book_image/p20.jpeg,This is the 3rd edition of a research monograp...,ZvWaiIY,,book/a19_s8GJQYU.pdf,False
29,30,1,Java Programming,Grege Perry and Dean Miller,cGIxu7T93Dg7H,#######,book_image/p18.jpeg,This is the 3rd edition of a research monograp...,8thEfXK,,book/c2_IviQduB.pdf,False
30,31,1,C Programming Language,Darrel S. Granam,2oQD2XF4Wya6u,#######,book_image/p17.jpeg,This is the 3rd edition of a research monograp...,DNACOsv,,book/a12_JMnwv2o.pdf,False
31,32,1,JavaScript Programming Language,John Devid N. Dlonaldo,ghS70fC9HW4D6,#########,book_image/p13.jpeg,This is the 3rd edition of a research monograp...,HsneEe4,,book/a15_OZXc4nf.pdf,False

In [46]:
pickle.dump(pt,open('pt.pkl','wb'))
pickle.dump(df_books,open('books.pkl','wb'))
pickle.dump(similarity_scores,open('similarity_scores.pkl','wb'))

## User Based Collaborative system

In [212]:
df_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105 entries, 0 to 104
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             105 non-null    int64
 1   book_id        105 non-null    int64
 2   rating         105 non-null    int64
 3   created_by_id  105 non-null    int64
 4   content        105 non-null    object
 5   created_at     105 non-null    datetime64[ns, UTC]
 6   isbn           105 non-null    object
dtypes: datetime64[ns, UTC](1), int64(4), object(2)
memory usage: 5.9+ KB

In [213]:
#Number of User
print('The Rating dataset has', df_reviews['created_by_id'].nunique(), 'unique users')

# Number of Books
print('The Rating dataset has', df_reviews['book_id'].nunique(), 'unique books')

#Number of ratings
print('The Rating dataset has', df_reviews['rating'].nunique(), 'unique ratings')

#List of unique Ratings
print('The unique Rating dataset are', sorted(df_reviews['rating'].unique()))

The Rating dataset has 8 unique users
The Rating dataset has 30 unique books
The Rating dataset has 5 unique ratings
The unique Rating dataset are [1, 2, 3, 4, 5]

In [214]:
#Aggregrate  By book
# agg_ratings = ratings_with_name.groupby('title').agg(mean_rating - ('rating', 'mean'), number_of_rating = ('rating', 'count')).reset_index()
# avg_rating_df.info()
popular_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 22 entries, 0 to 26
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        22 non-null     object
 1   num_ratings  22 non-null     int64
 2   avg_rating   22 non-null     float64
dtypes: float64(1), int64(1), object(1)
memory usage: 704.0+ bytes

In [215]:
popular_df

                                                title  num_ratings  avg_rating
0            Data Communication and Computer Networks            3    4.666667
1                            Advance Java Programming            2    4.500000
2                   Fundamentals of Computer Networks            2    4.500000
3                     Java Programming Beginner Guide            5    4.400000
4          Introduction to Database Management System            6    4.333333
5                     JavaScript Programming Language            5    4.000000
6                                    Java Programming            2    4.000000
7                              The Complete Reference            3    4.000000
8             Computer Networking (Top Down Approach)            3    4.000000
9   Computer Network (Principles, Technologies and...            2    4.000000
10                           Robort Programming (ROS)            7    3.857143
11                         Database Management System           17    3.705882
17                          Java Programming Language            5    3.600000
18                  Database Management Systems(DBMS)            7    3.571429
19                 Computer Networking Beginner Guide            2    3.500000
20                         The C Programming Language            6    3.500000
21                         C Programming With Arduino            5    3.400000
22                Computer Networking Beginners Guide            3    3.333333
23                      C Programming An Intorduction            6    3.333333
24                                  Computer Networks            4    3.250000
25                                      C Programming            5    2.800000
26  Black Hat Python( Python Programming for Hacke...            2    2.500000

In [216]:
# !pip install seaborn

In [217]:
# import seaborn as sns
# sns.jointplot(x ='popular_df', y = 'num_rating_df', data = popular_df)

In [218]:
df_gt100 = pd.merge(ratings_with_name, popular_df[['title']], on = 'title', how = 'inner')

In [219]:
df_gt100.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102 entries, 0 to 101
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id_x            102 non-null    int64
 1   book_id         102 non-null    int64
 2   rating          102 non-null    int64
 3   created_by_id   102 non-null    int64
 4   content         102 non-null    object
 5   created_at      102 non-null    datetime64[ns, UTC]
 6   isbn            102 non-null    object
 7   id_y            102 non-null    int64
 8   genre_id        102 non-null    int64
 9   title           102 non-null    object
 10  author          102 non-null    object
 11  publisher       102 non-null    object
 12  image           102 non-null    object
 13  description     102 non-null    object
 14  slug            102 non-null    object
 15  published_year  102 non-null    object
 16  book_pdf        102 non-null    object
 17  is_premium      102 non-null    bool
dtypes: bool(1), datetime64[ns, UTC](1), int64(6), object(10)
memory usage: 13.8+ KB

In [220]:
matrix = df_gt100.pivot_table(index = 'created_by_id', columns = 'title', values = 'rating')
matrix

title,Advance Java Programming,Black Hat Python( Python Programming for Hackers and Pentesters),C Programming,C Programming An Intorduction,C Programming With Arduino,"Computer Network (Principles, Technologies and Protocols for Network Design)",Computer Networking (Top Down Approach),Computer Networking Beginner Guide,Computer Networking Beginners Guide,Computer Networks,...,Database Management Systems(DBMS),Fundamentals of Computer Networks,Introduction to Database Management System,Java Programming,Java Programming Beginner Guide,Java Programming Language,JavaScript Programming Language,Robort Programming (ROS),The C Programming Language,The Complete Reference
created_by_id,,,,,,,,,,,,,,,,,,,,,
1,NaN,2.0,1.0,4.0,3.0,NaN,NaN,2.0,NaN,NaN,...,3.0,NaN,5.0,NaN,3.0,2.0,4.0,2.0,4.0,3.0
2,NaN,NaN,5.0,5.0,5.0,4.0,5.0,NaN,2.0,4.0,...,5.0,NaN,3.0,NaN,5.0,3.0,4.0,3.0,3.0,NaN
3,NaN,NaN,3.0,2.0,4.0,NaN,NaN,NaN,NaN,NaN,...,3.0,NaN,4.0,NaN,4.0,5.0,NaN,5.0,2.0,NaN
4,4.0,NaN,4.0,3.0,2.0,NaN,4.0,NaN,4.0,NaN,...,3.0,NaN,4.0,NaN,5.0,3.0,3.0,5.0,4.0,4.0
5,NaN,NaN,1.0,5.0,3.0,NaN,NaN,NaN,NaN,NaN,...,4.0,NaN,5.0,NaN,5.0,5.0,NaN,3.0,5.0,NaN
6,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,4.0,3.0,...,4.0,5.0,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN
8,NaN,NaN,NaN,1.0,NaN,NaN,3.0,5.0,NaN,2.0,...,3.0,NaN,5.0,5.0,NaN,NaN,4.0,NaN,NaN,NaN
9,5.0,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,4.0,...,NaN,4.0,NaN,3.0,NaN,NaN,5.0,5.0,3.0,5.0

In [221]:
 #Normalization User_Item Matrix
matrix_norm = matrix.subtract(matrix.mean(axis = 1), axis = 'rows')
matrix_norm.head()

title,Advance Java Programming,Black Hat Python( Python Programming for Hackers and Pentesters),C Programming,C Programming An Intorduction,C Programming With Arduino,"Computer Network (Principles, Technologies and Protocols for Network Design)",Computer Networking (Top Down Approach),Computer Networking Beginner Guide,Computer Networking Beginners Guide,Computer Networks,...,Database Management Systems(DBMS),Fundamentals of Computer Networks,Introduction to Database Management System,Java Programming,Java Programming Beginner Guide,Java Programming Language,JavaScript Programming Language,Robort Programming (ROS),The C Programming Language,The Complete Reference
created_by_id,,,,,,,,,,,,,,,,,,,,,
1,NaN,-0.923077,-1.923077,1.076923,0.076923,NaN,NaN,-0.923077,NaN,NaN,...,0.076923,NaN,2.076923,NaN,0.076923,-0.923077,1.076923,-0.923077,1.076923,0.076923
2,NaN,NaN,1.100000,1.100000,1.100000,0.1,1.100000,NaN,-1.900000,0.1,...,1.100000,NaN,-0.900000,NaN,1.100000,-0.900000,0.100000,-0.900000,-0.900000,NaN
3,NaN,NaN,-0.566667,-1.566667,0.433333,NaN,NaN,NaN,NaN,NaN,...,-0.566667,NaN,0.433333,NaN,0.433333,1.433333,NaN,1.433333,-1.566667,NaN
4,0.145833,NaN,0.145833,-0.854167,-1.854167,NaN,0.145833,NaN,0.145833,NaN,...,-0.854167,NaN,0.145833,NaN,1.145833,-0.854167,-0.854167,1.145833,0.145833,0.145833
5,NaN,NaN,-2.833333,1.166667,-0.833333,NaN,NaN,NaN,NaN,NaN,...,0.166667,NaN,1.166667,NaN,1.166667,1.166667,NaN,-0.833333,1.166667,NaN

In [222]:
#Use Similarity Matrix using Pearson Correlation
user_similarity = matrix_norm.T.corr()
user_similarity.head()

created_by_id,1,2,3,4,5,6,8,9
created_by_id,,,,,,,,
1,1.000000,-0.195988,-0.361158,-0.155799,0.721688,0.500000,-0.104828,-0.522233
2,-0.195988,1.000000,-0.346778,-0.353123,-0.109874,-0.324967,-0.678287,0.049609
3,-0.361158,-0.346778,1.000000,0.185119,-0.084792,NaN,0.995910,0.976554
4,-0.155799,-0.353123,0.185119,1.000000,-0.116899,NaN,0.502341,0.081880
5,0.721688,-0.109874,-0.084792,-0.116899,1.000000,NaN,-0.271448,-0.884615

In [223]:
#User Similarity matrix using cosine similarity
user_similarity_cosine = cosine_similarity(matrix_norm.fillna(0))
user_similarity_cosine

array([[ 1.        , -0.11265238, -0.32430722, -0.15835448,  0.60878977,
         0.10716215, -0.04174874, -0.13190354],
       [-0.11265238,  1.        , -0.2895557 , -0.32627178, -0.09174313,
        -0.06981709, -0.37538941,  0.03246887],
       [-0.32430722, -0.2895557 ,  1.        ,  0.16573074, -0.08479151,
         0.02227713,  0.38720423,  0.38622762],
       [-0.15835448, -0.32627178,  0.16573074,  1.        , -0.10465558,
         0.05300352,  0.20627627,  0.13743406],
       [ 0.60878977, -0.09174313, -0.08479151, -0.10465558,  1.        ,
        -0.03713619, -0.11865558, -0.22326174],
       [ 0.10716215, -0.06981709,  0.02227713,  0.05300352, -0.03713619,
         1.        ,  0.19727186,  0.02705471],
       [-0.04174874, -0.37538941,  0.38720423,  0.20627627, -0.11865558,
         0.19727186,  1.        , -0.10275906],
       [-0.13190354,  0.03246887,  0.38622762,  0.13743406, -0.22326174,
         0.02705471, -0.10275906,  1.        ]])

In [224]:
#Picke a User ID
picked_userid =1

#remove picked user id from the condidate list
user_similarity.drop(index = picked_userid, inplace = True)

#Take a look at the data
user_similarity.head()

created_by_id,1,2,3,4,5,6,8,9
created_by_id,,,,,,,,
2,-0.195988,1.000000,-0.346778,-0.353123,-0.109874,-0.324967,-0.678287,4.960881e-02
3,-0.361158,-0.346778,1.000000,0.185119,-0.084792,NaN,0.995910,9.765536e-01
4,-0.155799,-0.353123,0.185119,1.000000,-0.116899,NaN,0.502341,8.188006e-02
5,0.721688,-0.109874,-0.084792,-0.116899,1.000000,NaN,-0.271448,-8.846154e-01
6,0.500000,-0.324967,NaN,NaN,NaN,1.000000,0.866025,9.813078e-18

In [225]:
 #number of similar users
n = 10

#User similarity threashold
user_similarity_threshold = 0.1

#Get top n similar users
similar_users = user_similarity[user_similarity[picked_userid] > user_similarity_threshold][picked_userid]

In [226]:
print(f"The similar users for user {picked_userid} are", similar_users)

The similar users for user 1 are created_by_id
5    0.721688
6    0.500000
Name: 1, dtype: float64

In [227]:
# Books that Targeted User has Read
picked_userid_watched = matrix_norm[matrix_norm.index == picked_userid].dropna(axis = 1, how = 'all')
picked_userid_watched

title,Black Hat Python( Python Programming for Hackers and Pentesters),C Programming,C Programming An Intorduction,C Programming With Arduino,Computer Networking Beginner Guide,Database Management Systems(DBMS),Introduction to Database Management System,Java Programming Beginner Guide,Java Programming Language,JavaScript Programming Language,Robort Programming (ROS),The C Programming Language,The Complete Reference
created_by_id,,,,,,,,,,,,,
1,-0.923077,-1.923077,1.076923,0.076923,-0.923077,0.076923,2.076923,0.076923,-0.923077,1.076923,-0.923077,1.076923,0.076923

In [228]:
# Books that similar Users Watched.remove movies that none of the similar users have watched
similar_users_books = matrix_norm[matrix_norm.index.isin(similar_users.index)].dropna(axis = 1, how = 'all')
similar_users_books

title,Black Hat Python( Python Programming for Hackers and Pentesters),C Programming,C Programming An Intorduction,C Programming With Arduino,Computer Networking Beginners Guide,Computer Networks,Data Communication and Computer Networks,Database Management System,Database Management Systems(DBMS),Fundamentals of Computer Networks,Introduction to Database Management System,Java Programming Beginner Guide,Java Programming Language,Robort Programming (ROS),The C Programming Language
created_by_id,,,,,,,,,,,,,,,
5,NaN,-2.833333,1.166667,-0.833333,NaN,NaN,NaN,-1.500,0.166667,NaN,1.166667,1.166667,1.166667,-0.833333,1.166667
6,-0.875,NaN,NaN,NaN,0.125,-0.875,0.125,0.125,0.125000,1.125,NaN,NaN,NaN,0.125000,NaN

In [229]:
#Remove the watched book from the movie list
similar_users_books.drop(picked_userid_watched.columns, axis = 1, inplace = True, errors = 'ignore')

#take a look at the data
similar_users_books

title,Computer Networking Beginners Guide,Computer Networks,Data Communication and Computer Networks,Database Management System,Fundamentals of Computer Networks
created_by_id,,,,,
5,NaN,NaN,NaN,-1.500,NaN
6,0.125,-0.875,0.125,0.125,1.125

In [230]:
#A Dictionary to library item scores
item_score = {}

#loop through items
for i in similar_users_books.columns:
    #get the rating for book i
    book_rating = similar_users_books[i]
    #create a variable to store the score
    total = 0
    #create a variable to store the score
    count = 0
    #loop through similar users
    for u in similar_users.index:
        #if the movie has rating
        if pd.isna(book_rating[u]) == False:
            #score is the sum of user similarity score multiply the book rating
            score = similar_users[u] * book_rating[u]
            #Add the score to the total score for the movie so far
            total += score
            #add 1 to the count
            count += 1
    #get the average score for the item
    item_score[i] = total / count
        
#convert dictionary pandas dataframe
item_score = pd.DataFrame(item_score.items(), columns = ['book', 'book_score'])

#sort the book by score
ranked_item_score = item_score.sort_values(by = 'book_score', ascending = False)

#select top m books
m = 10
ranked_item_score.head(m)

                                       book  book_score
4         Fundamentals of Computer Networks    0.562500
0       Computer Networking Beginners Guide    0.062500
2  Data Communication and Computer Networks    0.062500
1                         Computer Networks   -0.437500
3                Database Management System   -0.510016

In [231]:
#Average Rating for the picked users
avg_rating = matrix[matrix.index == picked_userid].T.mean()[picked_userid]

#Print the average movie rating for user 1
print(f"The average movie rating for user {picked_userid} is {avg_rating: 2f}")

The average movie rating for user 1 is  2.923077

In [232]:
#calculate the predicted rating
ranked_item_score['predicted_rating'] = ranked_item_score['book_score'] + avg_rating

#take a look at the data
ranked_item_score.head(m)

                                       book  book_score  predicted_rating
4         Fundamentals of Computer Networks    0.562500          3.485577
0       Computer Networking Beginners Guide    0.062500          2.985577
2  Data Communication and Computer Networks    0.062500          2.985577
1                         Computer Networks   -0.437500          2.485577
3                Database Management System   -0.510016          2.413061

In [310]:

def recommend_books(picked_userid):
    df_gt100 = pd.merge(ratings_with_name, popular_df[['title']], on='title', how='inner')
    matrix = df_gt100.pivot_table(index='created_by_id', columns='title', values='rating')
    matrix_norm = matrix.subtract(matrix.mean(axis=1), axis='rows')
    user_similarity = matrix_norm.T.corr()
    user_similarity_cosine = cosine_similarity(matrix_norm.fillna(0))

    # remove picked user id from the candidate list
    user_similarity.drop(index=picked_userid, inplace=True)

    # number of similar users
    n = 10

    # User similarity threshold
    user_similarity_threshold = 0.1

    # Get top n similar users
    similar_users = user_similarity[user_similarity[picked_userid] > user_similarity_threshold][picked_userid]

    # Books that Targeted User has Read
    picked_userid_watched = matrix_norm[matrix_norm.index == picked_userid].dropna(axis=1, how='all')
    similar_users_books = matrix_norm[matrix_norm.index.isin(similar_users.index)]
    similar_users_books.drop(picked_userid_watched.columns, axis=1, inplace=True, errors='ignore')

    # A Dictionary to library item scores
    item_score = {}

    # loop through items
    for i in similar_users_books.columns:
        # get the rating for book i
        book_rating = similar_users_books[i]
        # create a variable to store the score
        total = 0
        # create a variable to store the score
        count = 0
        # loop through similar users
        for u in similar_users.index:
            # if the book has rating
            if pd.isna(book_rating[u]) == False:
                # score is the sum of user similarity score multiply the book rating
                score = similar_users[u] * book_rating[u]
                # Add the score to the total score for the book so far
                total += score
                # add 1 to the count
                count += 1
        # get the average score for the item
        if count > 0:
            item_score[i] = total / count
        else:
            item_score[i] = 0

    # convert dictionary pandas dataframe
    item_score = pd.DataFrame(item_score.items(), columns=['book', 'book_score'])

    # sort the book by score
    ranked_item_score = item_score.sort_values(by='book_score', ascending=False)

    # select top m books
    m = 10
    return ranked_item_score(m)

In [351]:
recommend_books(1)

Empty DataFrame
Columns: [book, book_score]
Index: []

In [449]:
def recommend_books(picked_userid):
    # merge dataframes and create a pivot table
    df_gt100 = pd.merge(ratings_with_name, popular_df[['title']], on='title', how='inner')
    matrix = df_gt100.pivot_table(index='created_by_id', columns='title', values='rating')

    # normalize matrix
    matrix_norm = matrix.subtract(matrix.mean(axis=1), axis='rows')

    # calculate user similarity
    user_similarity = matrix_norm.T.corr()
    user_similarity_cosine = cosine_similarity(matrix_norm.fillna(0))

    # remove picked user id from the candidate list
    user_similarity.drop(index=picked_userid, inplace=True)

    # number of similar users
    n = 10

    # User similarity threshold
    user_similarity_threshold = 0.1

    # Get top n similar users
    similar_users = user_similarity[user_similarity[picked_userid] > user_similarity_threshold][picked_userid]

    # Books that Targeted User has Read
    picked_userid_watched = matrix_norm[matrix_norm.index == picked_userid].dropna(axis=1, how='all')
    similar_users_books = matrix_norm[matrix_norm.index.isin(similar_users.index)].dropna(axis=1, how='all')

    # A Dictionary to library item scores
    item_score = {}

    # loop through items
    for i in similar_users_books.columns:
        # get the rating for book i
        book_rating = similar_users_books[i]

        # create a variable to store the score
        total = 0
        # create a variable to store the count
        count = 0

        # loop through similar users
        for u in similar_users.index:
            # if the book has rating
            if pd.isna(book_rating[u]) == False:
                # score is the sum of user similarity score multiply the book rating
                score = similar_users[u] * book_rating[u]
                # Add the score to the total score for the book so far
                total += score
                # add 1 to the count
                count += 1

        # get the average score for the item
        if count > 0:
            item_score[i] = total / count

    # convert dictionary pandas dataframe
    item_score = pd.DataFrame(item_score.items(), columns=['book', 'book_score'])

    # sort the book by score
    ranked_item_score = item_score.sort_values(by='book_score', ascending=False)

    # select top m books
    m = 10
    return ranked_item_score.head(m)

In [450]:
recommend_books(2)

                                         book  book_score
1    Data Communication and Computer Networks         0.5
3             Java Programming Beginner Guide         0.5
0                    Advance Java Programming        -0.5
2  Introduction to Database Management System        -0.5